header {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    color: white;
}

.image-container {
    margin-left: 20px;
    width: 140px;
    height: 60px;
    background-image: url('../images/logo.png');
    background-size: cover;
}

